.recipe-headers{
    font-weight: 20;
}

.trail-mix{
    color: rgb(104, 61, 12);
}

.cuc-salad{
    color:green;
}

.lasagna{
    color: rgb(204, 101, 60);
}

.small-text{
    font-weight: 200;
}

.index-headers{
    font-size: 24px;
}
